@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typingDots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

.typing::after {
  content: "";
  animation: typingDots 1.4s infinite;
}
